dj-database-url==2.3.0
django==5.2.13
django-celery-beat==2.9.0
djangorestframework==3.17.1
drf-spectacular==0.28.0
djangorestframework-simplejwt==5.5.1
pytest==8.4.2
pytest-django==4.12.0
meilisearch==0.34.1
